{% extends 'layout.html' %}

{% block customHeader %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('../static/images/Taxi03.webp')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Us</h1>
          <span class="subheading">Fly Taxi 數據帶你掌握方向盤</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock customHeader %}

{% block content %}
<!-- Main Content -->

<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <h1>Fly Taxi 
        <h2>Chicago Taxi Analysis<h2>
      <h3 class="ih0">數據分析人．數據整合服務</h3>
    <h6>數據蒐集 / 數據分析 / 數據挖掘 / 機器學習 </h6>
    </div>
<!-- end col-5 -->
<div class="col-lg-7">
  <h4>We focus on this mission in pursuit of our goal becoming the most preferred brand in each segment that we serve for our associates, guests, and owners.</h4>
    <p>FLY TAXI 創立於2020年，我們運用最新大數據分析技術，提供計程車司機更完整的資訊!目的在於幫助司機尋找合適的旅客，提高收益。</p>
    <p>FLY TAXI 提供<b>司機載客熱點</b>資訊，例如:載客點所載到的旅客通常<b>前往何處</b>，搭乘的<b>距離長短</b>，以及是否願意<b>給予小費</b>等，司機可以依照自己的偏好，自行選擇應到何處巡航。</p>
</div>
  <!-- end col-7 -->
</div>
<!-- end row -->
</div>
<!-- end container -->

{% endblock content %}